*{margin: 0px; padding: 0px; box-sizing: border-box;}
/* ///////////////////////////////////////////////////////navbar///////////////////////////////////////////////////////// */
body{background-color: rgb(5, 4, 4); 
font-family: serif; text-transform: capitalize;}
.navbar{
    margin-top: 20px;
    width: 100%;
height: 50px;
position: fixed;
top: 0;
z-index: 10;}
.logo{ width: 70px; height: 100%; margin-left: 200px; display: inline; float: left;  overflow: auto;}
.ul1{ float: right;
    overflow: auto;
margin-right: 150px;
}
.ul1 li{
   
    font-size: 18px;
    display: inline-block; 
    padding: 14px 10px;

}
.ul1 li a{text-decoration:none;  color:white}
/* ///////////////////////////////////////////////////////navbar///////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////sec1///////////////////////////////////////////////////////// */
.sec1 {
    width: 100%;
 height: 100vh;
    background-image: url(../images/lamb-steak-pieces-with-sauces-grilled-pepper-fresh-salad-wooden-board.jpg) ;
    background-size: cover;
    position: relative;
    
}
.sec1-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}
.sec1-info{
   width: 60%;
    text-transform:capitalize;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 60px;
    color :white;
    
}
.sec1-info p{word-spacing: 3px; padding-top: 10px;}
.sec1-title{font-size: 60px; letter-spacing: 7px;}
 .sec1-info button{ color: rgb(241, 205, 112);width: 200px; height: 55px; border-radius: 7px; font-size: larger; border:solid goldenrod;}
.btn2{background-color: rgba(0,0,0,0.5);}
.btn1{background-color: rgba(0,0,0,0.5); color: white; border: white; }
.btn2:hover{ background-color: rgb(141, 68, 19);}
.btn1:hover{ background-color: rgb(255, 255, 255); color: #000000; }
/* ///////////////////////////////////////////////////////sec1///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////// sec10-container1///////////////////////////////////////////////////////// */
.title1{font-size: 40px ;text-align: center;  margin-top:400px; color:  goldenrod; }
.tab1{width: 60px; height: 3px;margin: auto; background-color: goldenrod;}
.container1{
    width: 80%;
  
    margin: auto;
    margin-top: -30px;
   
     }
     .c1 {margin: 0% 5%;  }
    
     .container1-item{

        height: 250px;
        width: 30%;
  
  float: left;
  padding: 20px 15px;
  position: relative;
  border:solid goldenrod 2px;
     } 
     .container1-content{margin-top: 100px;}
     .container1-item:hover .container1-info h1{ color: rgb(0, 0, 0);}
     .container1-item:hover .container1-info p{ color: rgb(0, 0, 0);}
    
     .container1-info{
        text-align: center;
        line-height: 35px;
        position: absolute;
    }
     .container1-info a{text-decoration: none; font-size: larger; color: goldenrod;
        }
        .container1-info i{  line-height: 45px;color: goldenrod;}
        .container1-info h1{color: white;}
.container1-info p{font-size: larger; color: #ffffff;}
.container1-item::before{
    position: absolute;
    content:"";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(255, 255, 255);
}
.container1-item:hover::before{
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
  color: #000;
  
}
/* ///////////////////////////////////////////////////////sec10-container1///////////////////////////////////////////////////////// */


/* ///////////////////////////////////////////////////////sec6-container2///////////////////////////////////////////////////////// */



.container2{width: 80%; height: 500px;  margin: auto; margin-top: 400px;}
.container2 h1{font-size: 40px ;text-align: center;margin-top: 600px; color: goldenrod;display: block; }
.tab{width: 60px; height: 3px;margin: auto; background-color: goldenrod;}
.sec3-item{
    width: 30%;
    float: left;
    position: relative;
}
.sec3-content{}
.sec3-item img{ width: 100% ; height: 60%; padding: 14px 16px;}

.center{ margin: 0% 5%;}
.sec3-overlay{position: absolute; width: 100%;height: 100%; top: 0; left:0;   background-color: rgba(0,0,0,0.9);
color: aliceblue;
visibility: hidden;
opacity: 0;}
.sec3-item:hover .sec3-overlay{visibility: visible;opacity: 0.9; transition: 0.5s; border: 1px solid goldenrod;}
.sec3-info { width: 100%;
    text-transform:capitalize;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 40px;
    color :white;
    visibility: hidden;
    opacity: 0;
}
.sec3-item:hover .sec3-info{visibility: visible; opacity: 1; transition: 1s; }
.sec3-info p{font-size: 20px;}
.sec3-info i{color: goldenrod;}
.sec3-content{padding: 20px 0px;}



/* ///////////////////////////////////////////////////////sec6-container2///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////sec9-container3///////////////////////////////////////////////////////// */

.title3{font-size: 40px ;text-align: center;margin-top: 250px; color: goldenrod; }
.tab3{width: 60px; height: 3px;margin: auto; background-color: goldenrod;}
.sec4-container3{
    width: 80%;
    margin: auto;
  
     }
     .container3-content{margin-top: 50px;}
     .cc3{padding:250px 0px;}
     
     .c1{margin: 0% 5%;}
     .container3-item{
      height: 200px;
      width: 30%;
background-color: rgb(0, 0, 0);
float: left;
padding: 20px 15px;
position: relative;
border:solid goldenrod 1px;
     } 
     .container3-info p{color:rgb(255, 255, 255)}
     .container3-info{
        line-height: 30px;
        color: #ffffff;
        position: absolute;
      
    }
    .container3-item:hover .container3-info h2{ color: rgb(0, 0, 0);}
    .container3-item:hover .container3-info p{ color: rgb(0, 0, 0);}
     
        .container3-info i{width: 45px; height: 45px;  display:inline; color: goldenrod;}

.container3-info h2{display: inline;}
.container3-item::before{
    position: absolute;
    content:"";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(255, 255, 255);
}
.container3-item:hover::before{
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
  
}
/* ///////////////////////////////////////////////////////sec9-container3///////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////sec2///////////////////////////////////////////////////////// */
.title5{font-size: 40px ; color: goldenrod;}
.tab5{width: 60px; height: 3px; background-color: goldenrod; }
.sec5{width: 100%; height: 100vh; }
.sec5-content{width: 80%; margin: auto; background-color: #eb4040; margin-top: 100px;}
.left-info{width: 50%;;float: left;  color: white;}
.h1-sec5{margin-top: 10px; font-size: 40px; letter-spacing: 5px;}
.left-info span{ line-height: 35px; }
.right-info{width: 50%;float: left; }
.div-icons{margin-top: 15px;}
.left-info h3{margin-top: 20px;}
.right-info img{width: 100%;margin: auto; display: block; height: 70%;}
.right-info{display: inline-block; text-align: center;}
.right-info  span {width: 15px;height: 15px;border-radius: 50%;; margin: 0 2px; display: inline-block; }
.circles{padding: 10px;}
.left-info i{color: goldenrod;}
.span1{background-color: goldenrod;}
.span2,.span3{background-color: white;}
.span2:hover {background-color: goldenrod;}
.span3:hover{background-color: goldenrod;}

/* //////////////////////////////////////////////////////sec2///////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////sec3///////////////////////////////////////////////////////// */
.title1{font-size: 40px ;text-align: center;margin-top: 100px; }
.tab1{width: 60px; height: 3px;margin: auto; background-color: black;}
.container5{
    width: 100%;
    height: 300px;
    margin: auto;
    
    background-image: url(../images/gst-background-placeholder-1-2.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    border: 2px solid goldenrod;
    border-left: none;
    border-right: none;
     }
    
     .container5-item{

        height: 250px;
        width: 10%;

  float: left;
  padding: 100px 15px;
  position: relative;
 margin-left: 150px;
 color: rgb(255, 255, 255);

     } 
    
    
     .container5-info{
        text-align: center;
        line-height: 45px;
        position: absolute;
    }
    
        .container5-info i{width: 45px; height: 45px; line-height: 45px;}

.container5-info p{font-size: larger; color:rgb(255, 255, 255);}
/* //////////////////////////////////////////////////////sec3///////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////sec4-container6///////////////////////////////////////////////////////// */

.title7{font-size: 40px ;text-align: center;margin-top: 200px; color: goldenrod;}
.tab7{width: 60px; height: 3px;margin: auto; background-color: goldenrod}
.container6{
    width: 80%;
    margin: auto;   
}

.sec7-item{
    width: 30%;
    
    float: left;
    padding: 20px 15px;
    text-align: center;
    font-size: larger;
    color: #ececec;
    position: relative;
    border: 1px solid goldenrod;
   
    }
    .sec7-content{margin-top: 50px;}
    .item1{background-image: url(../images/food-photography-101.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .item2{background-image: url(../images/offer_2.jpg.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .item3{background-image: url(../images/best-cleveland-food-photographers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

.circle{width: 100px;
height: 100px;
border-radius: 50%;
background-color: rgba(0,0,0,0.7);
padding: 30px 0px;
margin: auto;
color: #ffffff;
font-size: 30px; 
}
.sc7{ margin: 0% 5%;
}
.sec7-item p{line-height: 25px; padding: 7px;  background-color: rgba(0,0,0,0.4);}
.sec7-item button{border:goldenrod solid 1px;  padding: 7px; background-color: rgba(0,0,0,0.7); color: white;}
.sec7-item:hover .first-p{color:goldenrod}
.sec7-item:hover .circle{color:goldenrod}
.sec7-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height:0;
    top:0;
    left:0;
    opacity: 0;
    background-color: black;
}
.sec7-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 0.7s;}



/* //////////////////////////////////////////////////////sec4-container6///////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////sec7-container7///////////////////////////////////////////////////////// */

.container7{
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 500px;
    background-image: url(../images/photo-1550807014-1236e91b92d4.jpeg) ;
   
    background-size: cover;
    background-attachment: fixed;
    border:1px solid goldenrod;
    border-left: none;
    border-right: none;
     }
    
     .container7-item{

        height: 250px;
        width: 50%;

 color: white;
  
  
 
     } 
    
    
     .container7-item{
        
        line-height: 45px;
        float: left;
        padding: 100px;
       
       
    }
    .container7-item h1{margin-top: 5px;}
     .container7-item h5{margin-top: -14px;}


    .circle2{width: 150px;
        height: 150px;
        border-radius: 50%;
       margin: 0px 10px;
       margin-top: -10px;
       
    float: left;}
    .n1{background-image: url(../images/neck\ browning.webp) ;
        background-size: contain ;}
        .n2{  background-image: url(../images/daniel\ graham.webp) ;
            background-size: contain ;}

        




/* //////////////////////////////////////////////////////sec7-container7///////////////////////////////////////////////////////// */

/*/////////////////////////////////////////////////////section8//////////////////////////////////////////////////////// */
.title8{font-size: 40px ;text-align: center;margin-top: 250px; color: goldenrod; }
.tab8{width: 60px; height: 3px;margin: auto; background-color: goldenrod; }
.container8{
width: 80%;
height: 300px;
margin: auto;
 }
 .team-content{margin-top: 50px; }
.i1{background-color: blueviolet;}
.team-item{
width: 30%;
border: 1px solid goldenrod;
float: left;
padding: 20px 15px;

position: relative;

color: white;
}
.div2{
    margin: 0% 5%;
}
.team-img{
    text-align: center;
width: 90%;
margin: auto;
position: relative;

}
.team-img img{width: 100% ; height: 250px; }
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
background-color: rgba(0,0,0,0.7);
visibility: hidden;
opacity: 0;

}
.team-item:hover .team-overlay{ visibility: visible; opacity: 1; }
.team-overlay a{
    width: 45px;
    height: 45px;
    color: aliceblue;
    background-color: goldenrod;
    display: block;
    margin-left: auto;
    line-height: 30px;
}
.team-overlay a i{line-height: 45px;}
.team-info-title{
    text-transform: capitalize;
    padding: 10px 0px;
}
.team-info{padding-left: 15px;}
.team-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height:0;
    top:0;
    left:0;
    opacity: 0;
    background-color: black;
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 1s;
}/*/////////////////////////////////////////////////////section8//////////////////////////////////////////////////////// */


/*/////////////////////////////////////////////////////sec5//////////////////////////////////////////////////////// */
.title9{font-size: 40px ;text-align: center; color: goldenrod;  margin-top: 500px;}
.tab9{width: 60px; height: 3px;margin: auto; background-color: goldenrod;}
.container9{
    text-transform: none;
    width: 80%;
    margin: auto;
}
.container9-content{margin-top: 50px;}
.container9-item img{
    width: 300px;
    height: 250px;
    padding-bottom: 5px;
}
.container9-item{width: 30%; position: relative; float: left; overflow: auto; color: white; 
     border:1px solid goldenrod; height: 450px;
padding: 10px;}

.container9 i{display: inline;}
.container9-item p{ display: inline; font-size: smaller; }
.ic2{padding-right: 10px;}
.container9-item a{text-decoration: none; font-size: larger; color: goldenrod;}
.container9-item h3,h5{padding: 10px 0px;}
.container9-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height:0;
    top:0;
    left:0;
    opacity: 0;
    background-color: black;
   
}
.container9-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 1s;
   
    
}
.ci2{margin:0% 5%;}
/*/////////////////////////////////////////////////////sec5//////////////////////////////////////////////////////// */

/*/////////////////////////////////////////////////////footer//////////////////////////////////////////////////////// */



/*/////////////////////////////////////////////////////footer//////////////////////////////////////////////////////// */
.tab11{width: 70%; height: 3px;margin: auto; background-color: rgb(218, 165, 32); margin-top: 150px;}
.tab10{width: 70%; height: 3px;margin: auto; background-color: goldenrod;
margin-top: 400px;}
.footer{width: 100%; height:300px;  left: 0; bottom: 0; }
.footer-content img{width: 150px ; margin-top: 50px; padding-bottom: 30px;}
.footer-content{ color: white;
    text-align: center;  height: 100px; width: 100%;}
.footer-info i{display: inline; background-color: goldenrod;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  padding: 18px;
  
color: #ffffff;}
.footer-info i:hover{background-color: rgb(153, 117, 25)}
.footer-info a{text-decoration: none;}
.footer-info p{margin-top: 30px; font-size: small; }

/*/////////////////////////////////////////////////////footer//////////////////////////////////////////////////////// */
